body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}
header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}
nav {
    background-color: rgb(78, 77, 77);
    padding: 3px;
    border-radius: 10px;
    color: white;
}
nav > a {
    text-decoration: none;
    color: rgb(204, 207, 10);
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
        text-decoration: underline;
}


main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}
article {
    background-color: lightgray;
    padding: 5px;
}
article > aside {
    background-color: rgb(163, 162, 162);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

footer > p {
    margin: 0px;

}